<doctype html>
    <html> 
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../styles/styles.css"/>
        <title>Palo Alto</title>
    </head>
    <body class="body">
	<div class="progress-bar"></div>
        <header class="header">
            <a href="index.html" class="link_img"><img src="../images/Palo-Alto.png" class="header__logo"/></a>
            <nav class="nav">
                <ul class="nav-menu nav-menu_center">
                    <li class="nav-menu__item_inactive">Home</li>
                    <li class="nav-menu__item"><a href="index.html" class="link">About</a></li>
                    <li class="nav-menu__item"><a href="index.html" class="link">Archive</a></li>
                    <li class="nav-menu__item"><a href="login.html" class="link">Contact</a></li>
                    <li class="nav-menu__item_search"><div class="search"><a href="index.html"></a></div></li>
                </ul>
            </nav>
        </header>

        {% block main %}
		{% endblock %}

        <footer class="footer">
            <a href="index.html" class="link_logofooter"><img class="footer__logo" src="../images/Palo-Alto-footer.png" alt="Palo Alto"/></a>
            <nav class="nav nav_footer">
                <ul class="nav-menu nav-menu_footer">
                    <li class="nav-menu__item_inactive"><a href="index.html" class="link">Home</a></li>
                    <li class="nav-menu__item nav-menu__item_footer"><a href="index.html" class="link link_footer">About</a></li>
                    <li class="nav-menu__item nav-menu__item_footer"><a href="index.html" class="link link_footer">Archive</a></li>
                    <li class="nav-menu__item nav-menu__item_footer"><a href="index.html" class="link link_footer">Contact</a></li>
                    <li class="nav-menu__item nav-menu__item_footer"><div class="search-footer"><a href="index.html"></a></div></li>
                </ul>
            </nav>
            <div class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.</div>
            <div class="footer__copyright">© 2015 - Palo Alto. All Rights Reserved. Designed &amp; Developed by <a href="index.html" class="link link_footer">PixelBuddha Team</a></div>
            <figure class="share">
                <a href="facebook.com" class="link_img"><img alt="fb" src="../images/facebook.png" class="img-share"/></a>
                <a href="twitter.com" class="link_img"><img alt="tw" src="../images/twitter.png" class="img-share"/></a>
                <a href="instagram.com" class="link_img"><img alt="insta" src="../images/instagram.png" class="img-share"/></a>
                <a href="pinterest.com" class="link_img"><img alt="pint" src="../images/pinterest.png" class="img-share"/></a>
            </figure>
        </footer>
    </body>
</html>
