.form__text {
    width: 305px;
    height: 57px;
    border: 0;
    padding: 21px;
    background-color: #f7f9fc;
    margin:30px;
    outline: none;
}

.form {
    color: rgba(51, 51, 51, 0.3);
    font: 400 20px / 30px Lato;
}

.form__textarea {
    width: 91%;
    height: 57px;
    border: 0;
    padding: 21px;
    resize:vertical;
    background-color: #f7f9fc;
    margin:30px;
    outline: none;
}

.form__text_long {
    width: 91%;
}

.form__button {
    color: #5c6bc0;
    margin-left: 30px;
    border: 0;
    background-color: #ffffff;
    font: 400 20px / 30px Lato;
    text-transform: uppercase;
    outline: none;
}
